.params-container{
    display: flex;
    height: 15rem ;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}


.param-btn{
    width: 85%;
    height: 3rem;
    margin-top: 1rem;
    border: none;
    background: white;
    border-radius: 2rem;
}

.param-btn:hover{
    background: whitesmoke;
}