.card{
    /* position: relative; */
    width:25rem;
    background-size: cover;
    background-position: center;

}


.cards{
    display: flex;
    justify-content: center;
}

.swipe{
    padding: 0%;
    position: absolute;
    width: 30rem;
}

@media screen and (max-width: 600px){
    .swipe {
      width: 22rem;
    }
}

/* @media screen and (max-width: 700px){
    .image-container {
      width: 20rem;
    }
   

  } */

  @media screen and (max-device-width: 700px){
    .card-container{
        width: 20rem;
    }

  }
