.card{
    /* position: relative; */
    width:25rem;
    background-size: cover;
    background-position: center;

}


.cards{
    display: flex;
    justify-content: center;
}

.swipe{
    padding: 0%;
    position: absolute;
}

