.matchpage{
    display: flex;
    flex-direction: column;
    background: whiteSmoke;
    width: 100%;
    height: 100vh;
}

/*---------------------------------- Header Section Style -------------------------- */

.dashboard{
    width: 100%;
    background: white;
    padding-left: 1rem ;
    padding-right: 1rem; 
    height: 4rem;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-info{
    display: flex;
    flex-direction: row ;
    align-items:center ;
    width: 33%;
}

.user-name{
    margin-left: 0.5rem;
}

.dashboard-title{
    width: 33%; 
    text-align: center;
}
.dashboard-title h1{
    color: rgb(69, 101, 226);
}

.message-section-btn{
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 600px){
    .user-name{
        display: none;
    }
    .dashboard-title{
        width: 70%;
    }
    .user-info{
        width: 15%;
    }
    .message-section-btn{
        width: 15%;
    }
}

/* ------------------------------ Match Section Style --------------------------------- */

.match-container{
    width: 100%; 
    height: 100vh;
    display: flex;
    justify-content: flex-start; 
    /* margin-bottom: 5rem; */
    /* align-items: center; */
}
.Cards-section-container{
    /* background: black; */
    width: 100%;
    height: 41.5rem; 
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-direction: row;
}

.cards{
    display: flex;
    /* justify-content: center; */
    margin-top: 4rem;
    /* background: red; */
    width: 70%;
    height: 80%;
    border-radius: 0.8rem;
    flex-direction: column;
    align-items: center;
}

.swipe{
    padding: 0%;
    position: absolute;
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5rem; */
    /* background: red; */
}


.card-container{
    width: 95%;
    background: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-top: 15%;
    position: relative;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(240,240,240,1);

}

.card-container p{
    width: 100%;
    color: black;
}

.empty-card{
    width: 68%;
    height: 80%;
    background: linear-gradient(348deg, rgba(58,97,234,1) 0%, rgba(100,216,242,1) 100%); 
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.text-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: whitesmoke;
    height: 26%;
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 1px 0px rgba(173,176,245,1);

}
.upgrade-container{
    width: 80%;
    margin-top: 3rem;
    /* background: chartreuse; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15%;
}

.upgrade-container p{
    color: white;
}

.upgrade-btn{
    width: 30%;
    height: 50%;
    background: white;
    border-radius: 0.5rem;
    border: solid 1px white;
    color: rgba(58,97,234,1);
    box-shadow: 0px 0px 1px 0px rgba(173,176,245,1);

}

.upgrade-btn:hover{
    background:rgba(58,97,234,1);
    color: white;
}

.swipe-buttons-container{
    position: relative; 
    align-self: flex-end;
    width: 15rem;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.swipe-btn{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border:none;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(229,230,235,0.75);

}

.user-avatar{
    width: 50%;
    height: 90%;
    /* background: pink; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-avatar h3{
    color: white;
    margin-left: 0.5rem;
}

.user-avatar img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.car-owner-info{
    margin-top: 0.5rem;
    background: linear-gradient(100deg, rgba(58,97,234,1) 0%, rgba(100,216,242,1) 100%);
    width: 98%; 
    height: 15%; 
    padding-left: 0.5rem; 
    border-radius: 1rem;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

.car-info{
    background: none;
    height: 50%; 
    width: 40%; 
    border-radius: 0.5rem; 
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
    /* background: pink; */
}

.car-info p{
    width: 27%; 
    height: 90%;
    background: white; 
    border-radius: 0.5rem; 
    display: flex;
    align-items: center;
    justify-content: center; 
    font-weight: bold;
    /* padding: 0.5rem; */
}






@media screen and (min-width: 900px){
    .swipe {
        width: 44rem;
        height: 25rem;
        margin-top: 2rem;
      }
    .card-container{
        width: 43.7rem;
        height: 32.2rem;
    }
    .matchpage{
        height: 122vh;
    }
}


@media screen and (max-width: 900px){
    .swipe {
        width: 35rem;
        height: 24rem;
        /* margin-top: 4rem; */
      }
    .card-container{
        width: 95%;
        height: 27rem;
    }
    .Cards-section-container{
        height: 35.5rem;
    }
}

@media screen and (max-width: 600px){
    .swipe {
        width: 30rem;
        height: 24rem;
      }
    .card-container{
        width: 95%;
        height: 27rem;
    }
    .Cards-section-container{
        height: 35rem;
    }
    .car-info p{
        width:31%;
    }
    .user-avatar img{
        width: 3rem;
        height: 3rem;
    }
    .car-info{
        width: 50%;
    }
}

@media screen and (max-width: 500px){
    .swipe {
        width: 26rem;
        height: 23rem;
      }
    .card-container{
        width: 95%;
        height: 25rem;
    }
    .Cards-section-container{
        height: 33rem;
    }
}

@media screen and (max-width: 410px){
    .swipe {
        width: 22rem;
        height: 24rem;
      }
    .card-container{
        width: 95%;
        height: 25rem;
    }
    .Cards-section-container{
        height: 33.2rem;
    }
    .car-info{
        font-size: 13px;
    }
}

@media screen and (max-width: 350px){
    .swipe {
        width: 21rem;
      }
    .card-container{
        width: 95%;
        height: 25rem;
    }
}
@media screen and (max-width: 330px){
    .swipe {
        width: 20rem;
      }
    .card-container{
        width: 95%;
        height: 25rem;
    }
}

/* --------------------------------- Slider Section Style ---------------------------------- */

.slider-container {
    max-width: 700px;
    width: 98%;
    height: 80%;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
    background: rgb(69, 101, 226);
    border-radius: 1rem;

}

.container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.active-anim {
    opacity: 1;
}
  
.btn-slide {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
}
.prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
}
.next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
}

.container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
    cursor: pointer;
}
.dot.active {
    background: rgb(32, 32, 32);
}

@media screen and (max-width: 600px){
    .btn-slide{
        width: 2.2rem;
        height: 2.2rem;
    }
    .btn-slide img{
        width: 18px;
        height: 18px;
    }
    .dot{
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width: 400px){
    .btn-slide{
        width: 1.8rem;
        height: 1.8rem;
    }
    .btn-slide img{
        width: 15px;
        height: 15px;
    }
    .dot{
        width: 15px;
        height: 15px;
    }
}
