.messaging-page-container{
    background: whitesmoke;
    height: 91.9vh ; 
    width: 100%; 
    display: flex; 
    flex-direction: row;
}
/* ----------------------------------- User Matchs Section Style ----------------------------------*/
.user-matchs-section{
    width: 30%;
    background: white; 
    border: solid 2px whitesmoke; 
    height: 100%;
    margin-bottom: 0.5rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.matchs-list{
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 90%;
    height: 100%;
    overflow: scroll;
    border: solid 2px whitesmoke; 
    border-radius: 1rem;
    background:linear-gradient(348deg, rgba(58,97,234,1) 0%, rgba(100,216,242,1) 100%);
}

.list-item{
    background: white; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 1rem;
    width: 100%;
    height: 12%; 
    padding-left: 1rem; 
    border-radius: 1rem; 
    box-shadow: 0px 0px 41px 0px rgba(173,176,245,1);
}

.match-info{
    width: 50%;
    height: 60%;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.5rem; 
    justify-content: center; 
    justify-content: space-around;
}

/* ---------------------------------- Messaging box Section Style -----------------------------------*/
.message-box-section{
    width: 70%;
    background: white; 
    border: solid 2px whitesmoke;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.message-box-container{
    height: 90%;
    width: 95%;     
    background: linear-gradient(348deg, rgba(58,97,234,1) 0%, rgba(100,216,242,1) 100%); 
    border-radius: 2rem;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.message-box{
    height: 98%;
    width: 98%; 
    background: white; 
    border-radius: 1.8rem;
    padding-top: 1rem;
    padding-left: 2rem;
}